# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.obj
*.dll
*.lib
*.log
*.so
*.tlog
*.log
*.obj
*.pdb
*.obj
*.tlog
*.tlog
*.tlog
*.log
*.lib
tools/bot_logo/bot_logo.rc
tools/bot_logo/bot_logo.dsp
Release/waypoint.obj
Release/vc120.pdb
Release/util.obj
Release/HPB_bot_mm.tlog/link.read.1.tlog
Release/HPB_bot_mm.tlog/link.command.1.tlog
Release/HPB_bot_mm.tlog/HPB_bot_mm.write.1u.tlog
Release/HPB_bot_mm.tlog/HPB_bot_mm.lastbuildstate
Release/HPB_bot_mm.tlog/CL.write.1.tlog
Release/HPB_bot_mm.tlog/CL.read.1.tlog
Release/HPB_bot_mm.tlog/cl.command.1.tlog
Release/HPB_bot_mm.tlog/bscmake.read.1.tlog
Release/HPB_bot_mm.log
Release/HPB_bot_mm.lib
Release/HPB_bot_mm.lastbuildstate
Release/HPB_bot_mm.exp
Release/HPB_bot_mm.dll
Release/HPB_bot_mm.bsc
Release/h_export.obj
Release/engine.obj
Release/dll.obj
Release/bot_start.obj
Release/bot_navigate.obj
Release/bot_models.obj
Release/bot_combat.obj
Release/bot_client.obj
Release/bot_chat.obj
Release/bot.obj
.vs/HPB_bot_mm/v15/ipch/AutoPCH/HPB_BOT_MM-3944ce12/WAYPOINT-95902d6d/WAYPOINT.ipch
.vs/HPB_bot_mm/v15/ipch/AutoPCH/HPB_BOT_MM-3944ce12/UTIL-c887b910/UTIL.ipch
.vs/HPB_bot_mm/v15/ipch/AutoPCH/HPB_BOT_MM-3944ce12/H_EXPORT-6eaf07bb/H_EXPORT.ipch
.vs/HPB_bot_mm/v15/ipch/AutoPCH/HPB_BOT_MM-3944ce12/ENGINE-990a9888/ENGINE.ipch
.vs/HPB_bot_mm/v15/ipch/AutoPCH/HPB_BOT_MM-3944ce12/DLL-d6f2840e/DLL.ipch
.vs/HPB_bot_mm/v15/ipch/AutoPCH/HPB_BOT_MM-3944ce12/BOT_START-21f29044/BOT_START.ipch
.vs/HPB_bot_mm/v15/ipch/AutoPCH/HPB_BOT_MM-3944ce12/BOT_NAVIGATE-c3b35c85/BOT_NAVIGATE.ipch
.vs/HPB_bot_mm/v15/ipch/AutoPCH/HPB_BOT_MM-3944ce12/BOT_MODELS-cd8ff07a/BOT_MODELS.ipch
.vs/HPB_bot_mm/v15/ipch/AutoPCH/HPB_BOT_MM-3944ce12/BOT_COMBAT-f2f1646c/BOT_COMBAT.ipch
.vs/HPB_bot_mm/v15/ipch/AutoPCH/HPB_BOT_MM-3944ce12/BOT_CLIENT-e9b68455/BOT_CLIENT.ipch
.vs/HPB_bot_mm/v15/ipch/AutoPCH/HPB_BOT_MM-3944ce12/BOT_CHAT-1d5deff6/BOT_CHAT.ipch
.vs/HPB_bot_mm/v15/ipch/AutoPCH/HPB_BOT_MM-3944ce12/BOT-448e4877/BOT.ipch
.vs/HPB_bot_mm/v15/ipch/AutoPCH/_SFI_72818CBF-837E-4124-8756-4E8B0691F8FF_-5eaf608d/BOT_FUNC-6cfdfbbf/BOT_FUNC.ipch
.vs/HPB_bot_mm/v15/Browse.VC.db
.vs/HPB_bot_mm/v15/.suo
.vs/HPB_bot_mm/v14/.suo
Release/HPB_bot_mm.log
Release/HPB_bot_mm.lib
Release/HPB_bot_mm.lastbuildstate
Release/HPB_bot_mm.exp
Release/HPB_bot_mm.dll
Release/HPB_bot_mm.bsc
Release/h_export.obj
*.o
